#rocket {
  transform-origin: 50% 50%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wave {
  width: 100vw;
  height: 100vh;
  transform: rotate(174.28deg);
  transform-origin: center;
  background: linear-gradient(90deg, #b86dde 0%, #295eee 99.46%);
}

.background {
  width: 100vw;
  height: 100vh;
}

.before-animation {
  z-index: -1;
}

.container > svg {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}

.heading {
  max-width: 822px;
}

.logo {
  max-width: 100px;
}

.biggest-planet {
  background: linear-gradient(223.93deg, #b86dde 32.98%, #295eee 92.65%);
}

img {
  position: absolute;
  z-index: 10;
}

.nav-link {
  font-size: 16px;
  line-height: 60px;
  font-family: 'Museo Sans Cyrl';
  fill: #ffffff;
}

.blue {
  fill: #0075ff;
}

.content {
  width: 100vw;
  height: 100vh;
}

.btn {
  cursor: pointer;
  border: none;
  background: linear-gradient(116.49deg, #fd0079 0%, #ffd200 105.21%);
  border-radius: 100px;
  font-family: 'Museo Sans Cyrl';
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 51px;
  position: absolute;
  left: 41.2%;
  top: 61.5%;
}
